body{
    background-image: url("./images/folk-pattern.png"); 
}
#db-div{
    background-image: none;
    background-color: rgba(255, 255, 255, 0.8);
}
.page-header{
    margin: 20px 0;
    font-family: 'Orbitron', bold, sans-serif;
    font-size: 30px;
}
 #train-sch{
    text-emphasis-style: bold;
    font-size: 20px;
 }
 #db-div {
position: relative;
float: left;
width: 70%;
 }
 th{
    font-family: 'Orbitron', bold, sans-serif;
    font-size: 25px;
 }

 /* sidenav */
 #sidebar.active {
    min-width: 80px;
    text-align: center;
}

.sidenav {
    float: right;
    height: 90%;
    width: 30%;
    position: absolute;
    z-index: 1;
    /* top: 0; */
    left: 70%;
    border: 1px solid black;
    /* background-image: url("./images/marble.jpg");  */
    background-color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    padding-top: 20px;
    }
    @media(max-width:710px){
        #db-Div {
          float: left;
          width: 90%;
        }
        .sidenav {
          position: relative;
          float: left;  
          left: 0px;
          top: 70%;
          width: 90%;
        }
      }

      @media(max-width:520px){
        #db-Div {
            width: 300px;
          }
      }